.navbar-brand{
    height: 40px;
    width: 40px;
    background-image: url(../images/Picture2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.navbar{
  background-color:#003B6D ;
  
  
}


/* .jumbo-container{
    display: flex;
    justify-content: space-evenly;
} */

/* .jumbo-a-text{
  margin-right: 5rem;
}

.jumbo-a-image{
 margin-left: 5rem;
 width: 50%;

} */

.catImg{
  height: 500px;
  width: 750px;
  border-radius: 2rem;
margin-top: 2rem;}

.cats-jumbo{
  background:linear-gradient(0deg,rgba(1, 1, 1, 0.158),rgba(192, 191, 191, 0.284)),url(../images/cats2.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 0;

  height: 25rem;

}
 

