

.navbar-brand{
  
    height: 40px;
    width: 40px;
    background-image: url(../images/Picture2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar{
    background-color:#003B6D ;
    
    
}

.nav-link{

}

#hompageIntro{
    margin-top: 3rem;
    width: 75%;

}


.introPanel{
 display: flex;
 justify-content: space-around;
}
.sectionBJumbo{
    background:linear-gradient(0deg,rgba(0, 0, 0, 0.677),rgba(0, 0, 0, 0.7)),url(../images/pic3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
}


.jumbo-nav{
    /* width: 50%; */
    display: flex;
    justify-content: center;
}

.jumbo-b-text{
    width: 80%;
}

.button-nav{
    margin: 20px;
    height: 100px;
    width: 100px;
}

.btn-1{
    border: 0;
    background-color: #6699CC;
}

.jumbotext{
    font-size: 18px;
    font-weight:450;
}

.cats-jumbo{
    background:linear-gradient(0deg,rgba(161, 161, 161, 0.381),rgba(192, 191, 191, 0.061)),url(../images/Picture1.png);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0;
  
    height: 5rem;
  
  }

  .jumboText{
    width: 35%;
    
  }

/* .introImg{
    width: px;
}
    */
  
  