.jumbotron{

}
.navbar{
    height: 75px;
    background-color: rgba(105, 155, 235, 0.664);
}

.navbar-brand{
    height: 50px;
    width: 50px;
    background-image: url("../images/Picture2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

/* jumbotron */
.lead{
    display: flex;
    justify-content: space-evenly;

}